body{
    margin: 0%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
}
/* Header CSS */

.header, .footer {
    /* background-color: #1F2937; */
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    width: auto;
}

.htop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0px 15% 0 15%;
}

.htleft{
   font-size: 24px;
   color: #f9faf9;
   font-weight: 900;
}

.htright{
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.hcenter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 15% 10% 15%;
}

h2{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf9;
    font-family: hero;

}

button{
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    padding: 5px;
    border-radius: 15%;
}

/* class Content Cascadestyle Sheet  */


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-boxes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.info {
    display: flex;
    flex-direction: column;
    margin: 0 25px 170px 25px;
    align-items: center;
}

.box{
    display: flex;
    flex: 1 0 auto;
    border: solid #3882F6;
    border-radius: 10%;
    width: 140px;
    height: 140px;

}

.text {
    color: #323438;
}

.quote{
    background-color: #E5E7EB;
    justify-content: center;
    font-style: italic;
    display: flex;
    flex: auto;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    width: 100%;
    height: 300px;
    /* padding: 15%; */
}

.callto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 80px 0;
}

.cartel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #3882F6;
    border-radius: 2%;
    padding: 5% 10% 5% 10%;
    flex: 1;
    height: 50px;
    width: 900px;
}

/* footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}